node_modules
bower_components
.tmp
.publish/
.classpath
.project
npm-debug.log
.settings/
bin/
.yo-rc.json
.DS_Store
*.gpd.*
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
.mylar
**/nashorn_code_cache
node_modules
*.orig
.pmd
.project
*.pyc
.pydevproject
*.rej
*~bak
*-bak
*.bak
docker
docker-pre-prod/
